@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.mna-wrapper {
    margin: 15vh 10vw;
    border: 1px solid #ddd;
}

.mna-container {
    height: 70%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

.split-tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mna-form-field {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.mna-form-field
.mna-form-label {
    color: #746EA6;
}

.mna-form-field
.mna-form-input {
    border: 1px solid #746ea673;
    border-radius: 5px;
    height: 3.5vh;
    font-size: 1.1rem;
    padding-left: 0.3vw;
    color: #746EA6;
}

input {
    margin: 1vh 0 0 0;
}

.mna-checkbox {
    outline: none;
    border: 0;
}

.mna-button {
    background: #746EA6;
    border: 0;
}

@media screen and (max-width:800px) {
    .split-tabs {
        flex-direction: column;
    }
}