.login-wrapper {
    width: 50%;
    height: 100%;
}

.login-container {
    padding: 15% 25%;
}

.login-container .title {
    margin-top: 2vh;
    color: #746EA6;
}

.login-container .subtitle {
    color: #746EA6;
}

.login-container form {
    margin-top: 2vh;
}

.login-btn {
    margin-top: 1vh;
    background-color: #746EA6;
    color: white;
    padding: 1.5vh 2vw;
    border-radius: 5px;
    width: 100%;
}

.description-wrapper {
    width: 50%;
    background: url('../images/login-summary.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.description-container {
    padding: 25% 20%;
}

.description-container .title {
    color: white;
    font-size: 2rem;
}

.description-container .subtitle {
    margin-top: 3vh;
    color: white;
}

@media screen and (max-width:800px) {
    .login-wrapper {
        width: 100%;
    }

    .description-wrapper {
        width: 100%;
    }
}
